@import 'nib'

.header
  padding: 10px 0
  margin-bottom: 40px

  &-link
    margin-right: 20px
    text-decoration: none

    &:hover
      text-decoration: underline

    &:last-child
      margin-right: 0

  .auth-container
    float: right
    .logout
      width: 100px